@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
    --black: #121212;
    --black-light6: #151515;
    --black-light12: #1B1B1B;
    --black-light18: #202020;
    --black-dark6: #0C0C0C;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
}

.pagewrapper {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.navwrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: var(--black-light18);
}

.navwrapper .nav_top {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navwrapper .nav_middle {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navwrapper .nav_middle img {
    width: 220px;
    max-width: 100%;
    height: auto;
    position: absolute;
    border: 3px solid #fff;
    display: none;
}





















.navwrapper .nav_middle .listwrapper {
    height: 80px;
    width: 90%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--black-light12);
    border: 1px solid #adadad;
}

.navwrapper .nav_middle .listwrapper .list_left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 3px solid red;
}

.navwrapper .nav_middle .listwrapper .list_right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 3px solid red;
}

.navwrapper .nav_middle .listwrapper .list_left ul {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border: 1px solid #fff;
}

/* det er ikke sentrert?, logoen og teksen er ikke perfekt midstilt */
.navwrapper .nav_middle .listwrapper .list_right ul {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border: 1px solid #fff;
}

.navwrapper .nav_middle .listwrapper .list_right ul li,
.navwrapper .nav_middle .listwrapper .list_left ul li {
    font-family: 'Silkscreen';
    font-weight: 700;
    font-size: 2.5em;
    color: #ffd319;
}











































.navbtn {
    border: 2px solid #fff;
    cursor: pointer;
}

.navwrapper .nav_middle .middlestripe {
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.navwrapper .nav_bottom {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linewrapper {
    width: 100%;
    height: 100%;
}

.line1 {
    background-color: #ffd319;
    height: 20%;
}

.line2 {
    background-color: #ff901f;
    height: 20%;
}

.line3 {
    background-color: #ff2975;
    height: 20%;
}

.line4 {
    background-color: #f222ff;
    height: 20%;
}

.line5 {
    background-color: #8c1eff;
    height: 20%;
}

.pagewrapper .landing {
    height: 100vh;
    width: 100%;
}

.rows {
    width: 100%;
}

.row {
    height: 500px;
    width: 100%;
    box-shadow: 0px 0px 1px 0px;
}

/*----------<CMS>----------*/

.CMSpagewrapper * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.CMSpagewrapper {
    height: 100vh;
    width: 100%;
    background-color: rgb(228, 228, 228);
}

.CMSpagewrapper h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    padding: 10px;
}

.CMSpagewrapper form {
    max-width: 800px;
    margin: 0 auto;
}

.CMSpagewrapper label,
.CMSpagewrapper input,
.CMSpagewrapper textarea {
    display: block;
    margin-bottom: 10px;
}

.CMSpagewrapper input[type="text"],
.CMSpagewrapper textarea {
    width: 100%;
    border: none;
    background-color: #f8f8f8;
    resize: vertical;
    max-height: 400px;
    padding: 10px;
}

.CMSpagewrapper #title {
    height: 10;
}

.CMSpagewrapper #content {
    height: 200px;
}

.CMSpagewrapper button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px;
}